:root {
    --primary-color:  rgb(49, 75, 128);
    --primary-color-darker:  rgb(35, 54, 93);
}

* {
    box-sizing: border-box;
    outline: 0;
}

html {
    font-size: 62.5%;
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5rem;
}

.container {
    max-width: 64rem;
    margin: 5rem auto;
    padding: 2rem;
    background-color: rgb(234, 244, 244);
    border-radius: 1rem;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form input {
    font-size: 2.4rem;
    height: 5rem;
    padding: 0 2rem;
}

form input:focus {
    outline: 0.1rem solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
    color: white;
    cursor: pointer;
    height: 5rem;
    margin-top: 2rem;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

form button:active {
    background-color: red;
}