<%- include('includes/_head'); %>
<%- include('includes/_nav'); %>
    <section class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-12 my-3">
            <h1 class="text-center">Contacts</h1>
            <p class="text-center lead">Your contacts.</p>
            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Um erro qq</div>
                </div>
            </div>
            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Mike</td>
                        <td>Mike</td>
                        <td>Mike</td>
                        <td>Mike</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-2"></div>


    </section>
    
<%- include('includes/_footer'); %>